<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head")%>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12"> 
				<form action="/pro2-tt-grupo8/myapp/routes/index.js" method="get"> <!-- get de /user/profile-->
					<label for="Perfil">Perfil: </label>
					<input type="email" id="usuario" name="usuario" required>
					<br>
					<label for="Contraseña">Contraseña: </label>
					<input type="password" id="Contraseña" name="Contraseña" required>
					<br>
					<label for="Recordarme">Recordarme: </label>
					<input type="checkbox" id="Recordarme" name="Recordarme" required>
					<br><br>
					<input type="submit" value="Inciar Sesión">
				</form>
			</div>


	<!-- footer -->
	<%- include("./partials/footer")%>
	<!-- /footer -->
</body>

</html>